.stepper-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background-color: black;
  padding: 8px;
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

.step-number.reverse {
  background-color: white;
  color: black;
  outline: 1px solid black;
}

.step-number.disabled {
  background-color: #666;
  color: #ccc;
  outline: 1px solid #ccc;
}

.remaining-steps {
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
